.article-container {
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.article-container h1, .article-container h2 {
  color: #333;
}

.article-container p {
  color: #666;
  line-height: 1.6;
}

.article-container .date {
  color: #999;
  font-style: italic;
}

.article-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.article-image {
  width: 100%;  /* Responsive image width */
  height: auto;
  margin-top: 10px;
}
